body {
  font-family: Arial, Helvetica, sans-serif;
}

.play-area {
  height: 100vh;
  padding: 10px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: repeat(6, minmax(0, 1fr));
  gap: 10px;
}
